@media only screen and (max-device-width: 1000px) {
        
    #main-grid {
        grid-template-columns: auto;
        grid-template-rows: auto 1fr;
        grid-auto-rows: auto;
        grid-gap: 10px;
    }
    
    #grid-header-container {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-flow: row;
    }
    
    #grid-header {
        grid-column: 1/-1;
    }
    
    #header-logo {
        grid-column: 1/-1;
    }
    
    #grid-body {
        grid-column: 1/-1;
        margin: 0 5px 0 5px;
    }

    #grid-sidebar {
        margin: 0 5px 0 5px;
    }

    img {
	max-width: 100%;
    }
    
}
