body {
    margin: 0px;
    background-color: #f3f3f3;
    width: 100%;
    height: 100%;
}

.grid {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #adadad;
}

#main-grid {
    min-height: 100%;
    display: grid;
    grid-template-columns:5% auto 5%;
    grid-template-rows: auto 1fr auto;
    grid-auto-rows: auto;
    grid-gap: 10px;
    background-color: #f3f3f3;
    /* margin: 5px; */
}

#grid-header-container {
    display: grid;
    height:100%;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    grid-gap: 10px;
    align-items: end;
    justify-items: center;
}

#grid-header {
    grid-column: 1/-1;
    border-radius: 0;
    box-shadow: 0 3px 3px #adadad;
}

#header-logo img {
    height: 100px;
}

#grid-body {
    grid-column: 2/3;
}

#grid-footer {
    grid-column: 1/-1;
    border-radius: 0;
    box-shadow: 0 -3px 3px #adadad;
}

.two-col {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
}

#media-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-gap:20px;
}