<link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
<div style="
	    height: 100%;
	    display: grid;
	    grid-template-columns: 1fr auto 1fr;
	    grid-template-rows: 1fr auto auto 1fr;
	    ">
  <div style="
	      grid-column: 2 / 3;
	      grid-row: 2 / 3;
	      ">
    <img src="{{ url_for('static',filename='404.svg') }}" style="								 margin-left:auto;
								 margin-right:auto;
								 width:50%;
								 ">
  </div>
  <div style="
	      grid-column: 2 / 3;
	      grid-row: 3 / 4;
	      margin-left:auto;
	      margin-right:auto;
	      font-size:xx-large;
	      font-family:Roboto
	      ">
    The page you're looking for doesn't appear to exist
    <br>
    <a href="/">Take me home</a>
  </div>
</div>
