{% extends "base.html" %}
{% block body %}

<h1>Username: {{ user["username"] }}</h1>


<form action="/account" method="POST">
  <div class="form-group">
    <label for="old_password">Current Password</label>
    <input type="password" id="old_password" name="old_password" class="form-control" placeholder="Current Password">
  </div>
  <div class="form-group">
    <label for="new_password">New Password</label>
    <input type="password" id="new_password" name="new_password" class="form-control" placeholder="New Password">
  </div>
  <div class="form-group">
    <label for="new_password_check">Retype Password</label>
    <input type="password" id="new_password_check" name="new_password_check" class="form-control" placeholder="Retype Password">
  </div>
  <input type="submit" class="btn btn-primary" value="Change Password">
</form>

{% endblock %}
