{% extends "base.html" %}
{% block body %}

This will be an admin panel
<br>

<form method="POST" action="/admin">
  <input type="text" name="newUser" placeholder="Username">
  <input type="hidden" name="purp" value="addUser">
  <input type="submit" value="Add User">
</form>

{% if newuserpass %}
New user password: {{ newuserpass }}
{% endif %}

<table>
  <tr>
    <th>User</th>
    <th>User role</th>
  </tr>
  {% for user in users %}
  <tr>
    <td>{{ user['username'] }}</td>
    <td>{{ user['role'] }}</td>
    {% if user['role'] != 'admin' %}
    <td>
      <form method="POST" action="/admin">
	<input type="hidden" name="username" value="{{ user['username'] }}">
	<input type="hidden" name="purp" value="delUser">
	<input type="submit" value="Delete User">
      </form>
    </td>
    <td>
      <form method="POST" action="/admin">
	<input type="hidden" name="username" value="{{ user['username'] }}">
	<input type="hidden" name="purp" value="promote">
	<input type="submit" value="Promote">
      </form>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% endblock %}
