<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143781390-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'UA-143781390-1');
    </script>
    <title>{{ title }} | Secrest Grove</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if sidebar %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sidebar.css') }}">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mobile.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div id="main-grid">
      <div class="grid" id="grid-header">
	<div id="grid-header-container">
	  <a id="header-logo" href="/"><img src="{{ url_for('static', filename='logo.png') }}" /></a>
    {% for link in getToolbar() %}
    <a href="{{ link[1] }}">{{ link[0] }}</a>
	  {% endfor %}
	  {% if session['loggedin'] %}
	  <div class="dropdown">
	    <button class="btn btn-primary dropdown-toggle" type="button" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	      {{ session['username'] }}
	    </button>
	    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        {% if session['role'] == 'admin' %}
	      <a class="dropdown-item" href="/admin">Admin Panel</a>
	      <a class="dropdown-item" href="/mediamanager">Media Manager</a>
        {% endif %}
	      <a class="dropdown-item" href="/editmotd">Edit MOTD</a>
	      <a class="dropdown-item" href="/editpages">Edit Pages</a>
	      <div class="dropdown-divider"></div>
	      <a class="dropdown-item" href="/account">Account</a>
	      <a class="dropdown-item" href="/logout">Logout</a>
	    </div>
	  </div>
	  {% endif %}
	</div>
      </div>
      <div class="grid" id="grid-body">
	{% with messages = get_flashed_messages(with_categories=True) %}
	{% if messages %}
	{% for category, message in messages %}
	{% if category == "message" %}
	<div class="alert alert-primary alert-dismissible fade show" role="alert">
	{% else %}
	<div class="alert alert-primary alert-{{ category }} alert-dismissible fade show" role="alert">
	{% endif %}
	  {{ message }}
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
	{% endfor %}
	{% endif %}
	{% endwith %}
	{% block body %}
	{% endblock %}
      </div>
      {% if sidebar %}
      <div class="grid" id="grid-sidebar">
	<!-- This is the sidebar -->
	{% for i in sidebar %}
	<div class="sidebar">
	  {{ markdown.markdown(i['msg'], extensions=['extra'])|safe }}
	</div>
	<hr>
	{% endfor %}
      </div>
      {% endif %}
      <div class="grid text-center" id="grid-footer">
	© Copyright 2019 Secrest Grove Baptist Church
	{% if not session['loggedin'] %}
	<a href="/login" class="badge badge-secondary d-inline">Login</a>
	{% endif %}
      </div>
    </div>
  </body>
</html>
