{% extends "base.html" %}
{% block body %}

<div class="form-group">
  <textarea class="form-control" placeholder="Add new message of the day" form="newEntry" name="new_motd" style="width:100%" autofocus></textarea>
</div>
<form method="POST" id="newEntry" action="{{ url_for('newmotd') }}">
  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Add MOTD">
  </div>
</form>

<hr>

<table class="table">
  <tr>
    <th style="width: 70%">Message</th>
    <th></th>
    <th></th>
  </tr>
  {% for x in motd %}
  <tr>
    <td>
      <!-- {{ x[1] }} -->
      <div class="form-group">
	<textarea form="update-{{ x['id'] }}" class="form-control" style="width:100%" name="updatedMotd">{{ x['msg'] }}</textarea>
      </div>
    </td>
    <td>
      <form method="POST" id="update-{{ x['id'] }}" action="{{ url_for('updatemotd') }}">
	<!-- <input type="textarea" name="updated-{{ x[0] }}" value="{{ x[1] }}"> -->
	<input type="hidden" name="motdID" value="{{ x['id'] }}">
	<input class="btn btn-primary" type="submit" value="Submit Change">
      </form>
      <form method="POST" action="{{ url_for('delmotd') }}">
	<input type="hidden" name="motdID" value="{{ x['id'] }}">
	<input class="btn btn-danger" type="submit" value="Delete Entry">
      </form>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
