{% extends "base.html" %}

{% block head %}

<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.17.0/trumbowyg.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.17.0/ui/trumbowyg.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.17.0/plugins/pasteimage/trumbowyg.pasteimage.min.js"></script>

<script src="{{ url_for('static', filename='editor.js' )}}"></script>

{% endblock %}

{% block body %}

<form method="POST" action="">
  <input type="submit" class="btn btn-primary" value="Add New Page">
  <input type="hidden" name="purp" value="addPage">
</form>
      
<div class="collapse" id="addPage">
  <div class="card card-body">
    <div id="load-content">
    </div>
  </div>
  <br>
</div>

<table style="width:100%">
  <tr>
    <th>Title</th>
    <th>File Name</th>
  </tr>
  {% for x in pages %}
  <tr>
    <td style="width:50%">{{ x["title"] }}</td>
    <td style="width:50%"><a href="{{ x['file_name'] }}">{{ x["file_name"] }}</td>
    <td>
      <form method="POST" action="">
	<input type="submit" class="btn btn-primary" value="Edit">
	<input type="hidden" name="pageID" value="{{ x['id'] }}">
	<input type="hidden" name="purp" value="editPage">
      </form>
    </td>
    <td>
      <form method="POST" action="{{ url_for('delpage') }}">
	<input type="submit" class="btn btn-danger" value="Delete">
	<input type="hidden" name="pageID" value="{{ x['id'] }}">
      </form>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
