{% extends 'base.html' %}

{% block head %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.17.0/trumbowyg.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.17.0/ui/trumbowyg.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.17.0/plugins/pasteimage/trumbowyg.pasteimage.min.js"></script>

<script src="{{ url_for('static', filename='editor.js' )}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.18.0/plugins/upload/trumbowyg.upload.min.js"></script>

{% endblock %}

{% block body %}

<form method="POST" id="editPage" action="{{ url_for('editPages') }}">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Page Title</span>
    </div>
    <input type="text" class="form-control" name="title" value="{{ pageTitle }}">
  </div>
  <div class="form-check">
    {% if sb == True %}
    <input type="checkbox" class="form-check-input" id="sb" name="sidebar" checked>
    {% else %}
    <input type="checkbox" class="form-check-input" id="sb" name="sidebar">
    {% endif %}
    <label for="sb" class="form-check-label">Sidebar</label>
  </div>
  <div class="form-check">
    {% if tb == True %}
    <input type="checkbox" class="form-check-input" id="tb" name="toolbar" checked>
    {% else %}
    <input type="checkbox" class="form-check-input" id="tb" name="toolbar">
    {% endif %}
    <label for="tb" class="form-check-label">Toolbar</label>
  </div>
  <div id="editor"></div>
  <input name="content" id="content" type="hidden" value="{{ pageContent }}">
  <input type="submit" class="btn btn-primary">
  <a href="/editpages" class="btn btn-danger">Cancel</a>
  <input type="hidden" name="pageID" value="{{ pageID }}">
  <input type="hidden" name="purp" value="submitEdit">
</form>

{% endblock %}
