{% extends "base.html" %}
{% block body %}
<h4>Login Page</h4>

{% if alertMsg %}
<div style="color:red">{{ alertMsg }}</div>
{% endif %}


<form method="POST">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Username" autofocus>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Login">
  </div>
</form>


{% endblock %}
