{% extends "base.html" %}

{% block body %}

<form action="/upload" method="POST" enctype="multipart/form-data">
  <input type="file" name="fileToUpload">
  <input type="submit">
</form>

<div id="media-grid">
  {% for file in files %}
  <div class="card" style="width:100%; height:100%;">
    <a href="uploads/{{ file.name }}"><img src="uploads/{{ file.name }}" class="card-img-top" style="width:100%;"></a>
    <div class="card-footer" style="height:100%">
      <p>{{ file.name }}</p>
      <form method="POST" action="/delmedia">
	<input class="btn btn-danger" type="submit" value="Delete">
	<input type="hidden" value="{{ file.name }}" name="filename">
      </form>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
