{% extends "base.html" %}
{% block body %}
Hello World!

<br>
<a href="/">Home</a>
<a href="/reset">reset</a>
<a href="/testhome">Test home</a>
<a href="/testabout">Test about</a>
<br>

<br>
{% for i in data %}
{{ i[1]|safe }}
<br>
{% endfor %}

<br>
{% for i in data %}
{{ i[0] }} : {{ i[1]|safe }} : {{ i[2] }}
<br>
{% endfor %}

{% endblock %}
